{% extends 'base.html.twig' %}

{% block title %}Route index{% endblock %}

{% block body %}
    <h1>Route index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Attributes</th>
                <th>Requirements</th>
                <th>Host</th>
                <th>Methods</th>
                <th>Condition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td>{{ route.id }}</td>
                <td>{{ route.path }}</td>
                <td>{{ route.attributes ? route.attributes|join(', ') : '' }}</td>
                <td>{{ route.requirements ? route.requirements|join(', ') : '' }}</td>
                <td>{{ route.host }}</td>
                <td>{{ route.methods }}</td>
                <td>{{ route.condition }}</td>
                <td>
                    <a href="{{ path('route_show', {'id': route.id}) }}">show</a>
                    <a href="{{ path('route_edit', {'id': route.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('route_new') }}">Create new</a>
{% endblock %}
