{% extends 'base.html.twig' %}

{% block title %}Route{% endblock %}

{% block body %}
    <h1>Route</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ route.id }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ route.path }}</td>
            </tr>
            <tr>
                <th>Attributes</th>
                <td>{{ route.attributes ? route.attributes|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Requirements</th>
                <td>{{ route.requirements ? route.requirements|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Host</th>
                <td>{{ route.host }}</td>
            </tr>
            <tr>
                <th>Methods</th>
                <td>{{ route.methods }}</td>
            </tr>
            <tr>
                <th>Condition</th>
                <td>{{ route.condition }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('route_index') }}">back to list</a>

    <a href="{{ path('route_edit', {'id': route.id}) }}">edit</a>

    {{ include('route/_delete_form.html.twig') }}
{% endblock %}
